// Place all the styles related to the quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form:before,
form:after {
  content: "";
  display: table;
}

form:after {
  clear: both;
}

form {
  margin: 0px;
  zoom: 1;
}

fieldset {
  background-color: #8CCDFF;
  position: relative;
  width: 220px;
  margin: 0 auto;
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
  -moz-box-shadow:    inset 1px 1px 3px #fff;
  -webkit-box-shadow: inset 1px 1px 3px #fff;
  box-shadow:         inset 1px 1px 3px #fff;
}
legend {
  color: #000;
  background: #D4E8FF;
  border: 1px solid #781351;
  padding: 0px 10px;
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Chrome */
  border-radius: 5px; /* CSS3 */
  -moz-box-shadow:    inset 2px 2px 2px #fff;
  -webkit-box-shadow: inset 2px 2px 2px #fff;
  box-shadow:         inset 2px 2px 2px #fff;
}

#correct_answer {
  color: blue;
  margin-bottom: 0px;
}
#wrong_answer span {
  color: red;
  margin-bottom: 0px;
}

#verb {
  text-align: center;
  text-transform: capitalize;
}

label {
  display: inline-block;
  text-align: center;
  width: 38px;
  padding: 0px;
  border: 0px solid;
  margin: 0px;
  overflow: hidden;
}

#quiz_text_field {
  border: 1px solid;
  padding: 0px;
  width: 169px;
  margin: 0px;
  overflow: hidden;
}

#button {
  float: right;
  margin-right: 5px;
}