<!DOCTYPE html>
<html>
<head>
  <title>Nous Conjuguons</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Nous Conjuguons</h1>
<%= yield %>
<footer>
  Vous étudiez un peu et puis vous testez vos connaissances ici...</br>
  Conception et programmation par Alexandre Marangoni Costa (alexandremcost at gmail)
</footer>
</body>
</html>
